
body {
  margin: 0;
  padding: 0;
  background-image: url('lang1.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(240, 240, 240, 0.9); 
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.translator {
  background-color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
  text-align: center;
  padding: 20px;
  transform: translateY(0);
  transition: transform 0.5s;
}

.translator:hover {
  transform: translateY(-20px);
}

h1 {
  color: #333;
  font-family: 'Your Font Name', sans-serif; 
  font-size: 32px; 
  margin-bottom: 20px; 
}

.translation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.select-container select {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  margin: 0 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  font-family: 'Another Font Name', sans-serif; 
}


.select-container select:hover {
  border-color: #0056b3; 
}


.text-container textarea {
  width: 100%;
  height: 100px; 
  max-height: 200px; 
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 2px solid #007bff; 
  border-radius: 5px;
  outline: none; 
  transition: border-color 0.3s;
}

.text-container textarea:hover {
  border-color: #0056b3; 
}


button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}


.translated-text {
  font-size: 18px;
  margin-top: 20px;
}


.image-upload input {
  margin-top: 20px;
  display: block;
}


.image-preview {
  margin-top: 20px;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: auto;
}


.camera-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.camera-button:hover {
  background-color: #45a049;
}
